/* Write your CSS here */
.app-container {
  background-image: linear-gradient(to bottom, #fff1eb, #ace0f9);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 52px;
}

.main-heading {
  font-family: 'Bree Serif';
  font-size: 42px;
  font-weight: bold;
  color: #1e293b;
}

.search-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  margin-bottom: 15px;
  margin-top: 15px;
}

.search-input {
  border-radius: 4px;
  height: 30px;
  width: 250px;
  background-color: transparent;
  flex-grow: 1;
  padding-right: 40px;
}

.search-icon {
  position: absolute;
  right: 10px;
  height: 22px;
  width: 25px;
}

.tabs-container {
  max-width: 300px;
  margin: auto;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0;
}

@media screen and (min-width: 992px) {
  .tabs-container {
    max-width: 455px;
  }
}

.app-list-container {
  padding: 0;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 12px;
  margin-bottom: 50px;
}

@media screen and (min-width: 992px) {
  .app-list-container {
    margin-bottom: 150px;
  }
}
